@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(163, 155, 155);
}
 /*
  creates the calculator container using css grid
*/
.calc-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
  width: 410px;
  height: 600px;
  background-color: rgb(26, 24, 24);
  border-radius: 14px;
  box-shadow: 2px 3px 9px black;
  margin: 20px auto;
}

.display {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  width: 100%;
  background-color: white;
  text-align: right;
  height: 60px;
  border-radius: 3px;
  position: relative;
  overflow-x: hidden;
}
/* positions the digit value on the claculator screen*/
.digitValue {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.btn {
  text-align: center;
  background-color: rgb(89, 216, 131);
  font-size: 2rem;
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.span-two {
  grid-column: span 2;
}
/* the hover effect fires when a user hovers on a calculator button*/
.btn:hover {
  background-color: lightblue;
}
